doctype html

html
	head
		// jQeury 3.x
		script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
		// Latest compiled and minified CSS
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

		// Latest compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

		// Roboto font
		link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")

		block head
	body
		ul(class="nav nav-tabs")
			li(role="presentation" 
				class = (nav == "about" ? "active" : ""))
				a(href="/") About 
			li(role="presentation"
				class = (nav == "model" ? "active" : ""))
				a(href="/test-model") Test models 
			li(role="presentation"
				class = (nav == "api" ? "active" : ""))
				a(href="/test-api") Test Kickstarters API
			li(role="presentation"
				class = (nav == "ui" ? "active" : ""))
				a(href="/test-ui") Test UI

		block content
