extends base.pug

block head
    link(rel="stylesheet" href="/assets/css/browse.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src="/assets/js/isotope.min.js")
    script(src="/assets/js/imagesloaded.min.js")
    script(src="/assets/js/bundle.js")
    title Test UI

block content
    mixin card()
        div.card
            div.row
                div.col-sm-9
                    div.row
                        div.col-sm-10
                            div.title
                        div.col-sm-1
                            i.fa.fa-thumbs-up
                        div.col-sm-1
                            i.fa.fa-thumbs-down
                        div.col-sm-12.category
                    div.row.main-image
                        div.col-sm-12.image-container
                            a
                                img(alt='Main image')
                    div.row.sub-images.grid
                div.col-sm-3
                    div.row.progress
                        div.progress-bar(style={'min-width': '10%'})
                    div.row.money
                        p 
                            span.pledged 
                            |  of  
                            | 
                            span.goal
                    div.row.description
                        div.col-sm-12
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    
    div.col-sm-12.view
        +card()
        +card()
        +card()
        +card()
        +card()
    
    script.
        var data=!{JSON.stringify(data)};
