.view {
    width: 100%;
}

.card {
    width: 70%;
    padding: 2% 5%;
    background-color: white;
    border-radius: 3px;
    border: solid #efefef 6px;
    transition: all 0.25s;
}

.card.far-left{
    position: absolute;
    left: -25%;
    transform: scale(0.3);
    z-index: 5;
}

.card.left {
    position: absolute;
    left: -10%;
    transform: scale(0.6);
    z-index: 7;
}

.card.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: 10;
}

.card.right {
    position: absolute;
    right: -10%;
    transform: scale(0.6);
    z-index: 7;
}

.card.far-right {
    position: absolute;
    top: 40px;
    right: -25%;
    transform: scale(0.3);
    z-index: 5;
}

.title {
    font-size: large;
    font-family: Roboto;
    font-weight: 700;
    padding-bottom: 10px;
}

.category {
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    padding: 5px 20px;
    margin-right: 10px;
    background-color: yellow;
    border: solid thin #ccb7b7;
    border-radius: 5px;
    text-transform: capitalize;
}

.sub-images {
    margin-top: 20px;
    white-space: nowrap;
    overflow-y: auto;
    height: 150px !important;
}

.grid-item {
    padding: 0 5px;
    margin-bottom: 10px;
}

.image-container>img {
    width: 100%;
}

.description {
    overflow-x: hidden;
}

.description * {
    font-size: 14px !important;
}
